@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');


body{
    font-family: 'Noto Sans KR', sans-serif;

   
}
.term-title {
    width: 100%;
    /* padding: 0 7%; */
    margin: 0;
    max-width: 100%;
    color:gray;
background-color: white;
    /* background-image: url('/public/images/high_quality/Delius-HP-sec1.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    position: fixed;
    z-index: 9999;
}
.Main-bar{
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-color: rgb(211, 210, 210);
    width:100%;
    position: relative;
    background-color: white;
    z-index: 100;
}
.container{
    z-index: 100;
}
#bar-icon{
    margin: 2% 1% 2% 0%;
   width: 40px;
   height: 40px;
}

.QnA-title {
    width: 100%;
    /* padding: 0 7%; */
    display: table;
    margin: 0;
    max-width: 100%;
    color:grey;
background-color: white;
    /* background-image: url('/public/images/high_quality/Delius-HP-sec1.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    position:fixed;
    z-index: 5;
    
}


.Q:before {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom:0; left: 0.1rem;
    width: 30%;
    z-index: 0;
  }
  
  .Q:hover:before {
    -webkit-transform: scaleY(3,5);
    -moz-transform: scaleY(3.5);
     -ms-transform: scaleY(3.5);
      -o-transform: scaleY(3.5);
         transform: scaleY(3.5);
 border-bottom: solid thin rgb(173, 173, 173);
 z-index: 0;  
}
  
  .Q:before {
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            z-index: 0;
        }
 
  .M-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.Q{
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
    color: rgb(71, 71, 71);
    text-decoration: none;
    position: relative;
    display: block;
    z-index: 0;
   
}
.A{
    margin:1% 10% 1% 0%;
    padding:3% 5% 3% 5%;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(243, 243, 243);
   
}
.mg-bt-3{
    margin-bottom: 3rem;
}
.mg-bt-2{
    margin-bottom: 2rem;
}
.mg-bt-1{
    margin-bottom: 1rem;
}
.mg-bt-05{
    margin-bottom:0.5rem;
}
.fw-L{
    font-weight: 600;
}
.f-L{
    font-size: 2rem;
}
.f-M{
    font-size: 1.5rem;
}
.t-l{
    text-align: left;
}
.t-ct{
    text-align: center;
}
.contentClose{
    background-color: transparent;
    border: 0;
    color: gray;
    font-size: 1.5rem;
    float:right;
    padding-top: 10px;
}
.contentClose:focus{
    outline: 0;
}
.contentClose:hover{
    color: tomato;
    transition: 0.3s;
}
.deliusName{
    font-size: 2.5rem;
    vertical-align: middle;
    font-weight: 700;
    color: rgb(49, 49, 49);
    margin-bottom: 1rem;
}
.topbar-item{
    display: inline;
}
.box{
    padding-top:12%;
}

.f-m {
    font-weight: 700;
    font-size: 1.5rem;
}
.f-s{
    font-size: 1.1rem;
}
.mg-top-1{
    margin-top: 1%;
}

.show-menu div{
    cursor: pointer;
}

.sidenav {
    height:100%;
    width: 0;
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition:0.5s ease-in-out;
    padding-top: 170px;
    border-right: solid 1px rgb(211, 210, 210);
}
ul{
    list-style: none;
    padding-left: 0px;
}
.sidenav .tab {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 0.8rem;
    color: gray;
    display: block;
    transition: 0.2s ease-in-out;

    
}
.tab a{
    color:gray;
}
.sidenav .DeliusTab{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: gray;
    display: block;
    transition: 0.2s ease-in-out;
    
}
.DeliusTab:hover{
    color: tomato;
}
.tab:hover{
    color: tomato;
}


.openmenu:hover {
    color:rgb(153, 153, 153);
    transition:0.5s ease-in-out;
}
.openmenu {
    position: relative;
    top: 120px;
    right: 130px;
    font-size: 20px;
    cursor:pointer;
    transition:0.5s ease-in-out;
}
.openmenu > i {
    font-size: 30px;
}
/* 미디어쿼리 적용 */
@media screen and (max-height:450px) {
    .sidenav {
        padding-top:15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    
}
.row-col{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.cols{
    margin-left: 1rem;
    width:47%;
}

@media screen and (max-width:766px){
    .DeliusTab{
        font-size: 1.5rem !important;
    }
    .tab{
        font-size: 0.6rem;
    }
    .box{
        padding-top:7rem;
    }
    .contentClose{
        background-color: transparent;
        border: 0;
        color: gray;
        font-size: 1.5rem;
        float:right;
        padding-top: 0px;
        padding-right: 30px;
    }
    .f-s{
        font-size: 0.8rem;
    }
    .f-m{
        font-size:1rem;
    }
    .f-L{
        font-size: 1.5rem;
    }
    .cols{
        width:100%;
    }
    .M-title{
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    .A{
        font-size: 0.9rem;
    }
}
